body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#72CE7D;
	color:#fff;
	font-size:30px;
	margin-bottom:5%;
}

a {
	color:#2C9A39;
}

a:hover {
	color:#2C9A39;
}

a.name-link{
	text-decoration:none;
	color:#fff;
}

a.name-link:hover {
	text-decoration:none;
	color:#fff;
}

#container {
	padding-top:5%;
}

.name {
	font-size:75px;
	margin:10;
}

.bio {
	font-size:25px;
	margin:10;
}

.ending {
	font-size:35px;
}

.buttons {
  margin: 0 auto;
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #474447;
  font-size: 20px;
  background: #fafafa;
  padding: 10px 20px 10px 20px;
  margin: 0 20px 0 20px;
  border: solid #b8b8b8 2px;
  text-decoration: none;
  width:100px;
  text-align: center;
  display: inline-block;
  cursor:pointer;
}

.btn:hover {
  background: #ebebeb;
  text-decoration: none;
}

.description{
	display:none;
	width:65%;
	font-size:27px;
}
